# radioactive extras

 on property:sys.post_boot.parsed=1
    # Tweak IO performance after boot complete
    write /sys/block/dm-0/queue/scheduler "cfq"
    write /sys/block/dm-1/queue/scheduler "cfq"
    write /sys/block/sda/queue/scheduler "cfq"
    write /sys/block/sde/queue/scheduler "cfq"
    write /sys/block/dm-0/queue/read_ahead_kb 128
	write /sys/block/dm-0/queue/iostats 1
	write /sys/block/dm-0/queue/nr_requests 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
	write /sys/block/dm-1/queue/iostats 1
	write /sys/block/dm-1/queue/nr_requests 128
    write /sys/block/sda/queue/read_ahead_kb 128
	write /sys/block/sda/queue/iostats 1
	write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sde/queue/read_ahead_kb 128
	write /sys/block/sde/queue/iostats 1
	write /sys/block/sde/queue/nr_requests 128

    # Disable Adaptive LMK
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 0

    # Input boost and stune configuration
    write /sys/module/cpu_input_boost/parameters/input_boost_freq_hp 902400
    write /sys/module/cpu_input_boost/parameters/input_boost_freq_lp 1056000
    write /sys/module/cpu_input_boost/parameters/input_boost_duration 10
	write /sys/module/cpu_input_boost/parameters/dynamic_stune_boost 15
     
    # Disable scheduler core_ctl
    write /sys/devices/system/cpu/cpu0/core_ctl/enable 0
    write /sys/devices/system/cpu/cpu4/core_ctl/enable 0

 	write /dev/kmsg "Boot radioactive completed "

